#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend airflow
    bind {{groups.haproxy[0]}}:80
    mode http
    default_backend             airflow

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend airflow
    mode http
    balance  roundrobin
    server  w1 {{ groups.airflow_webserver[0] }}:{{ airflow_webserver_port }} check inter 5s fall 3 rise 99
    server  w2 {{ groups.airflow_webserver[1] }}:{{ airflow_webserver_port }} check backup
